{% extends "whm/base.html" %}
{% block title %}Manage domain{% endblock title %}
{% block content %}

<script src="/media/editor/ace.js"></script>
<style>
 #editor { 
            width: 100%; 
            height: 400px; 
            border: 1px solid #ccc; 
        }
</style>

 

<div class="card card-default">
      <div class="card-header">
        <h2>Edit Domain</h2>
        

      </div>
      <div class="card-body">
    <form method="post"  enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row">
            <div class="col-md-5">
                <div class="form-group">
                    <label class="small mb-1" for="{{ user_form.domain.id_for_label }}">Domain:</label>
                    <input type="text" id="path"  class="form-control" value="{{ domain }}" readonly>
                </div>
				 <label class="small mb-1" for="{{ user_form.domain.id_for_label }}">Document Root (File System Location):</label>
				  <div class="input-group mb-2 mr-sm-2">
				 
            <div class="input-group-prepend">
			
              <div class="input-group-text"><span class="mdi mdi-home"></span></div>
            </div>
            <input type="text" id="path" name="path" class="form-control" value="{{ relevant_path }}">
          </div>
				 
				
				
				
            </div>
        </div>
        <button type="submit" class="mb-1 btn btn-success" style="text-transform: none;">Save domain</button>
    </form>
	
<form action="{% url 'domain_delete_all' domain.id %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this domain?');">Remove Domain</button>
                    </form>	
	
</div>
</div>



	  
	<div class="card card-default">
      <div class="card-header">
        <h2>Virtual Host:</h2>
        

      </div>
      <div class="card-body">
	     <div id="alertContainer" class="alert alert-success alert-dismissible fade show" role="alert" style="display: none;">
    <div id="message"></div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
</div>	
<div id="responseContainer" style="display: none;" class="sk-wave">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
          
        </div>	 

		
<div id="editor"></div>
<div class="form-group">
 <button id="save"  class="btn btn-primary mt-3">Save</button>
</div>
          
		  
</div>		  
		  
		  



</div>





<script>


document.addEventListener("DOMContentLoaded", function () {
    load("{{ domain }}");
});



    const editor = ace.edit("editor");
        editor.setTheme("ace/theme/xcode"); // You can change the theme
        editor.session.setMode("ace/mode/apache_conf"); // Set the mode to PHP

        document.addEventListener('keydown', function(event) {
            // Detect if 'Ctrl' (or 'Cmd' for Mac) + 'F' is pressed
            if ((event.ctrlKey || event.metaKey) && event.key.toLowerCase() === 'f') {
                event.preventDefault();  // Prevent the default browser action (find)
                toggleSearch();  // Open or close the search box
            }
        });

       const alertContainer = document.getElementById('alertContainer');
       const messageDisplay = document.getElementById('message');
      const responseDisplay = document.getElementById('responseContainer');
      

   function load(domain) {
    if (domain) {  // Ensuring selectedVersion is available
       
        setTimeout(function() {
            responseDisplay.style.display = 'inline-block';

            // Call the URL with GET method, appending php_version as a query parameter
            fetch(`{% url 'fetch_vhost' %}?domain=${domain}`, {
                method: 'GET',  // Using GET to pass php_version as a query parameter
                headers: {
                    'Content-Type': 'application/json'
                },
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok: ' + response.statusText);
                }
                return response.json(); // Retrieve response as JSON
            })
            .then(response => {
                console.log('Response:', response);
               responseDisplay.style.display = 'none';

              
               
				
editor.setValue(response.content, -1);



            })
            .catch(error => {
                console.error('Error:', error);
                // You can show an alert to notify the user about the error
               responseDisplay.style.display = 'none';
               // messageDisplay.innerText = 'Failed to fetch PHP settings. Please try again.';
            });
        }, 0); // Delay set to 0 milliseconds to avoid any race conditions
    } else {
        console.log('No PHP version selected.');
    }
}


       
		
	document.getElementById('save').onclick = function () {
   event.preventDefault();
    const content = editor.getValue();
    const csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value; // Get the CSRF token
    const alertContainer = document.getElementById('alertContainer'); // Assuming this is your alert container
    const messageDisplay = document.getElementById('message'); // Assuming this is your message container
 const domain = "{{ domain }}";
    responseDisplay.style.display = 'inline-block';

    // Get the value of the input field
   
    // Use fetch to send a POST request to save the file content
    fetch("{% url 'save_vhost' %}", { // Assuming `inputValue` contains the API URL
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
            'X-CSRFToken': csrfToken,
            'X-Requested-With': 'XMLHttpRequest'
        },
        body: new URLSearchParams({
            'content': content,
			'domain': domain
        })
    })
    .then(response => {
        responseDisplay.style.display = 'none';
        if (!response.ok) {
            throw new Error('Network response was not ok: ' + response.statusText);
        }
        return response.json(); // Parse response as JSON
    })
    .then(data => {
        console.log('Response:', data);
        responseDisplay.style.display = 'none';
 alertContainer.style.display = 'block';
        if (data.status === 'success') {
            alertContainer.className = "alert alert-success alert-dismissible fade show";
            messageDisplay.innerText = 'Save successful'; // Displaying success message
        } else {
            alertContainer.className = "alert alert-danger alert-dismissible fade show";
            messageDisplay.innerText = "Failed: " + data.message; // Displaying error message
        }
    })
    .catch(error => {
        console.error('Error:', error);
        responseDisplay.style.display = 'none';
		alertContainer.style.display = 'block';
        alertContainer.className = "alert alert-danger alert-dismissible fade show";
        messageDisplay.innerText = 'An error occurred: ' + error.message; // Displaying network error
    });
};
	

</script>


{% endblock content %}
{% include "whm/footer.html" %}