 </div>
</div>

   <!-- Footer -->
          <footer class="footer mt-auto">
            <div class="copyright bg-white">
              <p>
                &copy; <span id="copy-year"></span> <a class="text-primary" href="" target="_blank" >Fortune Developers</a>.
              </p>
            </div>
            <script>
                var d = new Date();
                var year = d.getFullYear();
                document.getElementById("copy-year").innerHTML = year;
            </script>
          </footer>

      </div>
    </div>
    


<script src="/media/js/jquery.min.js"></script>

 </body>
</html>
