{% extends "whm/base.html" %}
{% block title %}My Package{% endblock title %}
{% block content %}


<div id="responseContainer" style="position: relative; display: none;"> <!-- Container for the response -->
        <nav aria-label="breadcrumb">
                  <ol class="breadcrumb breadcrumb-inverse">
                   
           <li class="breadcrumb-item active" aria-current="page" style="margin-top:10px">SSL Installing, please wait.....</li> 
			<li> <div class="sk-wave">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
          
        </div>
</li> 
       </ol>
                </nav>
    </div>
	
	

<div id="alertContainer" class="alert alert-success alert-dismissible fade show" role="alert" style="display: none;">
    <div id="message"></div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
</div>	

 <div class="card card-default">
      <div class="card-header">
        <h2>List of Package</h2>
		
        

      </div>
    
   <div class="card-body">
   <div class="row">
   <div class="col-xl-6">
   <a class="mb-1 btn btn-pill btn-success" href="{% url 'new_package' %}" role="button" style="text-transform: none;">+ Add Package</a>
</div>
<div class="col-xl-6 d-flex justify-content-end">
    <form action="{% url 'package_list' %}" method="post" class="form-inline mb-3">
        <div class="form-group mr-2">
            <input type="text" id="search" name="search" class="form-control" placeholder="Search for package...">
        </div>
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Filter</button>
    </form>
	</div>
	</div>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th>Name</th>
                <th>Disk</th>
                <th>bandwidth</th>
				<th>Email</th>
				<th>Databases</th>
				<th>FTP</th>
				<th>Domain</th>
				<th>Sub Domain</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="domainTable">
            {% for pk in package %}
            <tr>
                <td>{{ pk.name }}</td>
                <td>{{ pk.disk_space }} (MB)</td>
                <td>{{ pk.bandwidth }} (MB)</td>
				<td>{{ pk.email_accounts }}</td>
				<td>{{ pk.databases }}</td>
				<td>{{ pk.ftp_accounts }}</td>
				<td>{{ pk.allowed_domains }}</td>
				<td>{{ pk.allowed_subdomains }}</td>
                <td>
                    <a href="{% url 'update_package' pk.id %}" class="btn btn-primary btn-sm">Manage</a>

                    
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4" class="text-center">No domains found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    <!-- No Results Message -->
    <div id="noResults" class="text-center text-danger" style="display:none;">No results found.</div>

</div>
</div>



{% endblock content %}

{% include "whm/footer.html" %}