<!-- Custom Context Menu -->
<div id="context-menu" class="context-menu">
    <div class="context-menu-item" id="menu-download"><i class="fa fa-download"></i> Download</div>
    <div class="context-menu-item" id="menu-view"><i class="fa fa-eye"></i> View</div>
    <div class="context-menu-item" id="menu-edit"><i class="fa fa-edit"></i> Edit</div>
    <div class="context-menu-item" id="menu-html-edit"><i class="fa fa-edit"></i> HTML Edit</div>
    <div class="context-menu-item" id="menu-move"><span class="fa fa-arrows"></span> Move</div>
    <div class="context-menu-item" id="menu-copy"><i class="fa fa-copy"></i> Copy</div>
    <div class="context-menu-item" id="menu-rename"><i class="fa fa-file"></i> Rename</div>
    <div class="context-menu-item" id="menu-permissions"><i class="fa fa-key"></i> Change Permissions</div>
    <div class="context-menu-item" id="menu-delete"><i class="fa fa-remove"></i> Delete</div>
    <div class="context-menu-item" id="menu-extract" style="display:none"><i class="fa fa-folder-open-o"></i> Extract</div>
    <div class="context-menu-item" id="menu-compress"><i class="fa fa-file-zip-o"></i> Compress</div>
</div>
