<div>
    <nav>
        <div class="path">
            <div class="input-group">
                <span class="input-group-addon">
                    <span id="imgHome" class="fa fa-home"></span>
                </span>
                <input id="location" type="text" class="form-control" autocomplete="off" spellcheck="false" placeholder="Enter path...">
                <span class="input-group-btn">
                    <button id="btnGo" type="button">Go</button>
                </span>
            </div>
        </div>
        
        <div class="folder-item" style="padding-left: 4px; padding-top: 4px; margin-top: 4px; font-weight: bold;">
            <a href="javascript:void(0)" onclick="fetchFolderContents('/')">
                <i class="fa fa-home"></i> /home/{{ user.username }}
            </a>
        </div>

        <div id="sub-folder"></div>
    </nav>
</div>
